<div class="row">
  <div class="col text-center">
      <h1>{{marker.message}} ({{marker.location.address}})</h1>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <div id="map"></div>
  </div>
</div>
